@model Hospital.Web.Models.MedicalNote

@{
    ViewData["Title"] = "Add Medical Note";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Font-awesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

</head>

<h2 class="h2">Agregar</h2>

<h4 class="h4">Notas medicas</h4>
<hr />
<div class="row" >
    <div class="col-md-4">
        <form asp-action="AddMedicalNote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPatient" />

            <partial name="_MedicalNote" />

            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-outline-info" />
                
                <a asp-action="Details" asp-route-id="@Model.IdPatient" class="btn btn-outline-secondary">Volver</a> 
            </div>
        </form>
        <div class="panel-body">
                <table class="table table-hover table-striped"id="MyTable" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                
                                
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       
                            <tr>
                                <td>
                                    @Html.DisplayFor(item => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => item.Note)
                                </td>
                                
                                
                              
                               <td>
                                    <a asp-action="EditMedicalNote" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                   
<button data-id="@Model.Id" class="btn btn-outline-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>

</td>  

                            </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>    
<script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Patients/DeleteMedicalNote/', false);
        });
    </script>
} 

</html>
