@model Hospital.Web.Models.NurseNote

@{
    ViewData["Title"] = "Add Nurse Note";
}

<h2>Add</h2>

<h4>Nurse Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNurseNote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPatient" />

            <partial name="_NurseNote" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdPatient" class="btn btn-success">Back to List</a>
            </div>
        </form>
        <div class="panel-body">
                <table class="table table-hover table-responsive table-striped"id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Time)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                
                                
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Note)
                                </td>
                                
                                
                              
                               <td>
                                    <a asp-action="EditNurseNote" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    
<button data-id="@Model.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>

</td>  

                            </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>    
<script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Patients/DeleteNurseNote/', false);
        });
    </script>
} 
