@model Hospital.Web.Models.Patient

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> 
<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Record)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Record)
        </dd>
         
         
        
    </dl>
</div>
<div>
     <a asp-action="AddMedicalNote" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<br />


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Patients/DeleteVitalSign/', false);
        });
    </script>
}
